<div id="gallery">
    <div class="side-button left"><img src="/public/icons/arrow-left.png"></div>
    <div class="empty-state">
        <div>La</div>
        <div>galería</div>
        <div>de</div>
        <div>Arte</div>
    </div>
    <div class="painting">
        <img src="">
    </div>
    <div class="info">
        <div>
            <div class="image-frame">
                <img src="">
            </div>
            <div class="data">
                <div class="author">Edouard Manet</div>
                <div class="name">La música en las tullerías</div>
                <div class="labeled year"><div>Año:</div><div>1862</div></div>
                <div class="labeled style"><div>Estilo:</div><div>Impresionismo</div></div>
            </div>
        </div>
        <div class="description">
            La música en las Tullerías mide 76 cm de altura y 116 de largo. Se considera generalmente esta tela como el primer ejemplo de obra impresionista en la historia del arte.<br>
            Fue adquirido por la National Gallery de Londres en 1917 y allí se exhibe con el título de Music in the Tuileries Gardens.</br>
            Se trata de uno de los primeros cuadros de Manet, ejecutado durante el Segundo Imperio.<br><br>
            El universo de alto copete y refinado en el cual evolucionaba Manet, propio del París del siglo XIX está extraordinariamente reflejado en este cuadro, que pinta un concierto dado en el jardín de las Tullerías. Por entonces, el palacio de las Tullerías aún existía, y albergaba a la corte de Napoleón III. Tres días a la semana se abrían los jardines al público y se oía música.
            El pintor se complace en hacer figurar un determinado número de las personas que le son cercanas. Algunas de las figuras son verdaderos retratos. En él aparece su modelo favorita: Victorine Meurent, que también está en obras como La cantante de las cerezas o Desayuno sobre la hierba, de la misma época. Puede identificarse también al propio autor, Manet, con sombrero de copa, barbudo, en el borde izquierdo de la composición. Ligeramente inclinado hacia la izquierda está su hermano, Eugène Manet, charlando con otra mujer.
            Baudelaire es una simple silueta esbozada, justo detrás de la primera dama de blanco, empezando por la izquierda. Esta última, instalada junto a la Sra. Offenbach, no es otra que la Sra. Lejosne, gracias a la cual Manet conoció a Baudelaire.
            Otros amigos del artista están cerca del tronco: el músico Offenbach, el pintor Henri Fantin-Latour y escritores como Jules Husson Champfleury o Théophile Gautier.
        </div>
    </div>
    <div class="side-button right"><img src="/public/icons/arrow-right.png"></div>
</div>
<div id="paintings-index">
</div>
<div id="about">
</div>
