<div id="list">
    <div class="section authors">
        <div class="header">
            <div class="title">
                Authors
            </div>
            <div class="search-area">
                <input type="text">
            </div>
        </div>
        <div class="items">
            <div class="item author">
                <div class="name">Diego Velázquez</div>
                <div class="buttons"></div>
            </div>
            <div class="item author">
                <div class="name">Rembrandt</div>
                <div class="buttons"></div>
            </div>
            <div class="item author">
                <div class="name">J. M. W. Turner</div>
                <div class="buttons"></div>
            </div>
            <div class="item author">
                <div class="name">Edouard Manet</div>
                <div class="buttons"></div>
            </div>
            <div class="item author">
                <div class="name">Claude Monet</div>
                <div class="buttons"></div>
            </div>
            <div class="item author">
                <div class="name">Vincent Van Gogh</div>
                <div class="buttons"></div>
            </div>
            <div class="item author">
                <div class="name">Francisco de goya</div>
                <div class="buttons"></div>
            </div>
        </div>
    </div>
    <div class="section paintings">
        <div class="header">
            <div class="title">
                Paintings
            </div>
            <div class="search-area">
                <input type="text">
            </div>
        </div>
        <div class="items">
            <a href="/painting.php?id=13">
                <div class="item painting" style="background-image:url('/public/thumbnails/Croquet.jpg'); background-size: 100px 69px">
                    <div class="year">1873</div>
                    <div class="author">Edouard Manet</div>
                    <div class="name">El juego de croquet</div>
                    <div class="buttons"></div>
                </div>
            </a>
            <div class="item painting" style="background-image:url('/public/thumbnails/Rain_steam_and_speed.jpg'); background-size: 100px 75px">
                <div class="year">1844</div>
                <div class="author">J. M. W. Turner</div>
                <div class="name">Lluvia, vapor y velocidad. El gran ferrocarril del oeste</div>
                <div class="buttons"></div>
            </div>
            <div class="item painting" style="
                background-image:url('/public/thumbnails/Rembrandt_van_Rijn_-_Self-Portrait_-_Google_Art_Project.jpg');
                background-size: 100px 130px;
                background-position-y: 25%
                ">
                <div class="year">1645</div>
                <div class="author">Rembrandt</div>
                <div class="name">Autorretrato</div>
                <div class="buttons"></div>
            </div>
        </div>
        <a href="/painting.php"><button class="button">+ Add paintings</button></a>
    </div>
</div>
